@font-face {
   font-family: 'Soyuz Grotesk';
   src: url('../fonts/SoyuzGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/SoyuzGrotesk-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Regular';
   src: url('../fonts/GreycliffCF-Regular.woff2') format('woff2'),
      url('../fonts/GreycliffCF-Regular.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Bold';
   src: url('../fonts/GreycliffCF-Bold.woff2') format('woff2'),
      url('../fonts/GreycliffCF-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Oblique';
   src: url('../fonts/GreycliffCF-RegularOblique.woff2') format('woff2'),
      url('../fonts/GreycliffCF-RegularOblique.woff') format('woff');
   font-style: italic;
   font-weight: 400;
   font-display: swap;
}

body {
   position: relative;
   background: #F4F2E5;
   color: #262626;

   &::-webkit-scrollbar {
      display: none;
   }
}

.body-no-scroll {
   overflow: hidden;
}

h1 {
   font-family: 'Soyuz Grotesk';
   font-size: 40px;
   line-height: 32px;
}

h2 {
   font-family: 'Greycliff CF Regular';
   font-size: 24px;
   line-height: 20px;
}

h3 {
   font-family: 'Soyuz Grotesk';
   font-size: 40px;
   line-height: 46px;
   color: #F4F2E5;
}

h4 {
   font-family: 'Greycliff CF Bold';
   font-size: 24px;
   line-height: 30px;
}

.caption-font {
   font-family: 'Greycliff CF Regular';
   font-size: 16px;
   line-height: 20px;
}

.date-font {
   font-family: 'Greycliff CF Oblique';
   font-size: 16px;
   line-height: 20px;
}

a {}

.header {
   position: relative;
   margin-bottom: 25px;
   background: #F4F2E5;
   z-index: 2;

   &__menu {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      background: #EE4816;
      border-radius: 20px 20px 0 0;
   }

   &__menu-btn-open {
      width: 24px;
      height: 24px;
      background-image: url(../images/mobile/burger-icon-light.svg);
   }

   &__menu-btn-close {
      width: 24px;
      height: 24px;
      background-image: url(../images/mobile/close-menu-light.svg);
   }
}

.main {}

.container {
   margin: 0 auto;
   padding: 0 15px;
}

.posts {
   background: #F4F2E5;

   &__heading {
      margin-bottom: 10px;
   }

   &__subheading {
      margin-bottom: 25px;
   }

   &__board {}

   &__box {
      display: flex;
      margin-bottom: 20px;
   }

   &__item-link {
      &:nth-child(2) {
         margin-left: 15px;
      }
   }

   &__item {}

   &__item-img {
      max-width: 100%;
      max-height: 100%;
      margin-bottom: 10px;
   }

   &__item-heading {
      margin-bottom: 5px;
   }

   &__item-caption {
      margin-bottom: 5px;
   }

   &__item-date {}
}

.mobile-menu {
   position: absolute;
   width: 100%;
   height: 100vh;
   top: 0;
   background: #EE4816;
   border-radius: 20px 20px 0 0;
   transition: all cubic-bezier(0.05, 0.7, 0.3, 1) 1.5s;
   z-index: 1;

   &__header {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 44px;
      margin-bottom: 18px;
   }

   &__header-btn {}

   &__header-img {}

   &__search-btn {
      position: relative;
      text-align: left;
      width: 100%;
      margin-top: 52px;
      margin-bottom: 31px;
      font-family: 'Greycliff CF Bold';
      font-size: 20px;
      line-height: 30px;
      color: #F4F2E5;

      &::before {
         content: url(../images/mobile/mobile-search-icon-light.svg);
         position: absolute;
         top: 6px;
         right: 0;
      }

      &::after {
         content: '';
         position: absolute;
         width: 100%;
         height: 2px;
         background: #F4F2E5;
         top: 33px;
         left: 0;
      }
   }

   &__sections {
      height: 75vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__nav {}

   &__nav-link {}

   &__nav-heading {
      margin-bottom: 5px;
   }

   &__footer {}

   &__footer-link {
      color: #F4F2E5;
   }

   &__footer-heading {
      margin-bottom: 10px;
   }

   &__logo {
      position: absolute;
      right: 0;
      bottom: 0;
   }
}

// Mobile menu variants

// .mobile-menu--closed {
//    top: 100vh;
//    transition: all cubic-bezier(0.5, 0.5, 0.05, 1) 1.5s;
// }

.mobile-menu--closed {
   top: -100vh;
   transition: all cubic-bezier(0.5, 0.5, 0.05, 1) 1.5s;
}

.mobile-search {
   position: fixed;
   width: 100%;
   height: 100vh;
   top: 0;
   background: #F4F2E5;
   border-radius: 18px 18px 0 0;
   transition: all cubic-bezier(0.05, 0.7, 0.3, 1) 1.5s;
   z-index: 3;

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;
      margin-bottom: 34px;
   }

   &__header-btn {}

   &__header-img {}

   &__input {
      width: 100%;
      margin-bottom: 25px;
      font-family: 'Soyuz Grotesk';
      font-weight: 700;
      font-size: 24px;
      line-height: 30px;
      color: #262626;
      background: transparent;
      border: none;
      border-bottom: 2px solid #262626;

      &::placeholder {
         color: #262626;
      }

      &::-webkit-search-cancel-button {
         appearance: unset;
         content: url(../images/mobile/mobile-clear-search-icon.svg);
      }
   }

   &__results {}

   &__item-link {}

   &__item {}

   &__item-region {
      line-height: 25px;
   }

   &__item-route {
      font-family: 'Greycliff CF Regular';
      font-size: 14px;
      line-height: 20px;
   }

   &__item-date {
      font-family: 'Greycliff CF Oblique';
      font-size: 14px;
      line-height: 20px;
   }
}

.mobile-search--closed {
   top: 100vh;
   transition: all cubic-bezier(0.5, 0.5, 0.05, 1) 1.5s;
}