@font-face {
   font-family: 'Soyuz Grotesk';
   src: url('../fonts/SoyuzGrotesk-Bold.woff2') format('woff2'),
      url('../fonts/SoyuzGrotesk-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 700;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Regular';
   src: url('../fonts/GreycliffCF-Regular.woff2') format('woff2'),
      url('../fonts/GreycliffCF-Regular.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Bold';
   src: url('../fonts/GreycliffCF-Bold.woff2') format('woff2'),
      url('../fonts/GreycliffCF-Bold.woff') format('woff');
   font-style: normal;
   font-weight: 400;
   font-display: swap;
}

@font-face {
   font-family: 'Greycliff CF Oblique';
   src: url('../fonts/GreycliffCF-RegularOblique.woff2') format('woff2'),
      url('../fonts/GreycliffCF-RegularOblique.woff') format('woff');
   font-style: italic;
   font-weight: 400;
   font-display: swap;
}

body {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   overflow: hidden;
}

h1 {
   font-family: 'Soyuz Grotesk';
   font-size: 100px;
   line-height: 80px;
}

h2 {
   font-family: 'Greycliff CF Regular';
   font-size: 48px;
   line-height: 58px;
}

h3 {
   font-family: 'Soyuz Grotesk';
   font-size: 48px;
   line-height: 45px;
   color: #F4F2E5;
}

h4 {
   font-family: 'Greycliff CF Bold';
   font-size: 24px;
   line-height: 30px;
}

.caption-font {
   font-family: 'Greycliff CF Regular';
   font-size: 16px;
   line-height: 20px;
}

.date-font {
   font-family: 'Greycliff CF Oblique';
   font-size: 16px;
   line-height: 20px;
}

a {}

main {
   display: flex;
   position: relative;
   width: 1368px;
   height: 892px;
}

.container {
   height: 742px;

   &__left {
      width: 320px;
      margin: 84px 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
   }

   &__right {
      width: 848px;
      margin: 75px 50px;
   }

   &__popup-search {
      margin: 40px 57px 40px 45px;
   }
}

.menu {
   width: 420px;
   background: #EE4816;
   border-radius: 80px 0 0 80px;

   &__header {}

   &__search-btn {
      position: relative;
      text-align: left;
      width: 100%;
      margin-bottom: 25px;
      padding-bottom: 10px;
      font-family: 'Greycliff CF Bold';
      font-size: 24px;
      line-height: 30px;
      color: #F4F2E5;

      &:hover {
         color: #FFF;
      }

      &::before {
         content: url(../images/web/search-icon-light.svg);
         position: absolute;
         top: 2px;
         right: 0;
      }

      &:hover::before {
         content: url(../images/web/search-icon-light-hover.svg);
      }

      &::after {
         content: '';
         position: absolute;
         width: 320px;
         height: 5px;
         background: #F4F2E5;
         top: 35px;
         left: 0;
      }

      &:hover::after {
         background: #FFF;
      }
   }

   &__header-categories {}

   &__header-link {
      position: relative;
      display: block;
      margin-bottom: 10px;

      &:hover::after {
         content: '';
         position: absolute;
         width: 17px;
         height: 17px;
         top: 14px;
         background: #FFF;
         border-radius: 50%;
      }

      &:hover:nth-of-type(1):after {
         left: 175px;
      }

      &:hover:nth-of-type(2):after {
         left: 160px;
      }

      &:hover:nth-of-type(3):after {
         left: 177px;
      }
   }

   &__header-heading {
      &:hover {
         color: #FFF;
      }
   }

   &__footer {
      display: flex;
      justify-content: space-between;
   }

   &__footer-links {}

   &__footer-link {
      display: block;
      margin-bottom: 5px;
      font-family: 'Greycliff CF Bold';
      font-size: 24px;
      line-height: 30px;
      color: #F4F2E5;

      &:nth-of-type(2) {
         margin-bottom: 0;
      }

      &:hover {
         color: #FFF;
      }
   }
}

.logo__link {
   display: flex;
   align-items: center;
}

.logo__img {}

.posts {
   width: 948px;
   background: #F4F2E5;
   overflow: scroll;
   color: #262626;
   border-radius: 0 80px 80px 0;

   &::-webkit-scrollbar {
      display: none;
   }

   &__header {
      display: flex;
      justify-content: space-between;
   }

   &__heading {
      margin-bottom: 15px;
   }

   &__home-link {
      display: block;
   }

   &__home-link-img {}

   &__subheading {
      margin-bottom: 30px;
   }

   &__board {}

   &__box {
      display: grid;
      grid-template-columns: auto auto auto;
      // grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: auto auto;
      grid-gap: 20px;
      padding-bottom: 50px;
   }

   &__item {}

   &__item-smallest {
      width: 269px;
      height: 242px;
      grid-area: span 1 / span 1;
   }

   &__item-small {
      width: 269px;
      height: 390px;
      grid-area: span 2/ span 1;
   }

   &__item-standard {
      width: 414px;
      height: 390px;
      grid-area: span 2 / span 1;
   }

   &__item-high {
      width: 269px;
      height: 504px;
      grid-area: span 2 /span 1;
   }

   &__item-wide {
      width: 559px;
      height: 390px;
      grid-area: span 1 / span 2;
   }

   &__item-widest {
      width: 848px;
      height: 390px;
      grid-area: span 1 / span 3;
   }

   &__item-link {
      color: #262626;
   }

   &__item-img {
      max-width: 848px;
      min-width: 269px;
      min-height: 150px;
      max-height: 415px;
      margin-bottom: 10px;
   }

   &__item-img-smallest {
      width: 269px;
      height: 150px;
   }

   &__item-img-small {
      width: 269px;
      height: 300px;
   }

   &__item-img-standard {
      width: 414px;
      height: 300px;
   }

   &__item-img-high {
      width: 269px;
      height: 414px;
   }

   &__item-img-wide {
      width: 559px;
      height: 300px;
   }

   &__item-img-widest {
      width: 848px;
      height: 300px;
   }

   &__item-heading {
      margin-bottom: 5px;
   }

   &__item-caption {
      margin-bottom: 5px;
   }

   &__item-date {}
}

.popup-search {
   position: absolute;
   z-index: 1;
   top: -1px;
   left: -1px;
   width: 1370px;
   height: 100vh;
   background: #F4F2E5;
   overflow: scroll;
   border-radius: 80px 80px 0 0;
   transition: all cubic-bezier(0.05, 0.7, 0.3, 1) 1.5s;

   &::-webkit-scrollbar {
      display: none;
   }

   &__menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 86px;
   }

   &__menu-btn {}

   &__menu-link {}

   &__form {}

   &__input {
      width: 100%;
      margin-bottom: 80px;
      font-family: 'Soyuz Grotesk';
      font-size: 100px;
      line-height: 80px;
      background: transparent;
      border: none;
      border-bottom: 5px solid #262626;

      &::placeholder {
         color: #262626;
      }

      &::-webkit-search-cancel-button {
         appearance: unset;
         content: url(../images/web/clear-search-icon.svg);
      }
   }

   &__results {}

   &__item-link {}

   &__item {
      display: flex;
      justify-content: left;
      position: relative;
      margin: 0 -57px 25px -45px;
      padding: 10px 57px 10px 155px;
      transition: all .5s;

      &:hover {
         background: #66B6FF;
      }

      &::before {
         content: url(../images/web/rafting-icon.svg);
         position: absolute;
         left: 40px;
      }
   }

   &__item-date {
      width: 307px;
      margin-right: 129px;
   }

   &__item-info {
      display: flex;
      width: 416px;
      margin-right: 20px;
   }

   &__item-info-category {
      margin-right: 20px;
   }

   &__item-info-region {}

   &__item-info-rivers {
      font-family: 'Greycliff CF Regular';
      font-size: 16px;
      line-height: 20px;
   }

   &__item-provinces {
      width: 307px;
   }
}

.popup-search--closed {
   top: 100vh;
   transition: all cubic-bezier(0.5, 0.5, 0.05, 1) 1.5s;
}

@media (max-width: 1400px) {
   body {
      scale: 90%;
   }
}
@media (max-width: 1300px) {
   body {
      scale: 85%;
   }
}
@media (max-width: 1200px) {
   body {
      scale: 75%;
   }
}
@media (max-width: 1100px) {
   body {
      scale: 70%;
   }
}
@media (max-width: 1000px) {
   body {
      scale: 65%;
   }
}